defaults:
  - dataset: idrid # idrid # idrid # # # eyepacs # # #remember space
  - train_module/aug: upsample_all
  - train_module/aug_other: none
  - train_module/loss: binary_focal
  - train_module/metrics: binary
  - _self_

name: default_2c_output_ensemble

wandb:
  init:
    enable: true
    #entity: "zizi-Deep-Learning-Labor"
    project: NEW_DR_2class_ensemble
    name: "${save.date_prefix}_output"
    group: DR_${problem.name}_output
    tags: 
      - DR
      - ${problem.name}
      - output_ensemble
    id: null

problem:
  name: binary
  num_classes: 1

# Training
runner:
  _target_: runners.run_train_2c

epochs: 1 #20
lr: 0.001
# Logging
log_interval: 10 # 100-EyePACS 2-IDRID
eval_interval: 1
patience: 15 # Early Stopping


# Saving
save:
  base_dir: "./checkpoints"
  model_name: ${model.name}
  date_prefix: ${now:%Y%m%d_%H%M}
  save_dir: "${save.base_dir}/${save.model_name}"
  file_name: "${save.date_prefix}_2c_best_model_epoch${epochs}.pth" #important changed point
  path: "${save.save_dir}/${save.file_name}"

save_path: ./checkpoints/ensemble/12_15_RUN2_attention_best_model_m1_u2_epoch20.pth
#./checkpoints/dense/12_10_2c_idrid_best_model_m1_u2_epoch10.pth


# Testing
# single model path for evaluation
test: 
  name: test_ensemble
  check_mode: false
check_path: null
# ./checkpoints/ensemble/12_11_best_model_m1_u2_epoch20.pth



# for 2 classes ensemble
ensemble_models: 
  - { cfg: "dense121.yaml",  ckpt: "checkpoints/Dense121/20251230_0058_2c_best_model_epoch10.pth" }
  - { cfg: "convnext.yaml", ckpt: "checkpoints/convnext/20251230_0015_2c_best_model_epoch20.pth" }
  - { cfg: "efficientnet.yaml",  ckpt: "checkpoints/efficientnet/20251231_0210_2c_best_model_epoch20.pth" }



